body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/admin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.infoBar{
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.125rem 0.625rem rgba(0,0,0,0.2);
    border-bottom: 0.125rem solid #e3d1ff;
}

body .infoBar h1 {
    margin: 0 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.infoBar h1 a {
    color: #fff;
    text-decoration: none;
    border-bottom: transparent;
    display: inline-block;
    transition: transform 0.3s ease;
    font-weight: bold;
}

.infoBar h1 a:hover {
    color: #ffffff;
    transform: scale(1.05);
}

body .infoBar .links {
    list-style: none;
    margin: 0 0.25rem;
    display: flex;
    gap: 1rem;
}

body .infoBar .links a {
    text-decoration: none;
    display: inline-block;
    color: #f0e6ff;
    font-size: 1.25rem;
    border-bottom: 0.125rem solid transparent;
    transition: color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    font-weight: bold;
}

body .infoBar .links a:hover {
    transform: scale(1.05);
    color: #ffffff;
    border-bottom-color: #fff;
}

.estagioTabela {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(0, 12, 12, 0.301);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.estagioTabela th, .estagioTabela td {
    padding: 12px 40px;
    text-align: center;
}

.estagioTabela th {
    background-color: rgba(0, 200, 255, 0.5);
    color: #ffffff;
    text-transform: uppercase;
    border-right:2px solid #00a2ff;
}

.estagioTabela tr:nth-child(even) {
    background-color: rgba(0, 255, 255, 0.03);
}

.estagioTabela tbody tr:hover {
    border-bottom: 2px solid rgba(0, 255, 255, 0.4);
    border-top: 2px solid rgba(0, 255, 255, 0.4);
    background-color: rgba(0, 255, 255, 0.12);
}

.estagioTabela td {
    color: #c0ffff;
    border-right: 2px solid rgba(0, 200, 255, 0.3);
}

.tableContainer {
    width: 1280px;
    max-height: 1000px;
    overflow-y: auto;
    margin: 3rem auto;
    border-radius: 12px;
    width: auto;
    border-radius: 12px;
    display: block;
    
}

.tableContainer::-webkit-scrollbar {
    width: 8px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background: rgba(60, 177, 255, 0.5);
    border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

h2{
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 400px;   
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 1rem 0rem;
    border: 2px solid rgba(75, 153, 255, 0.3);
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(82, 163, 255, 0.4);
}

.form{
    margin-top: 4rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.61);
    width: 60%;
    max-width: 300px;
    border-radius: 8px;
    padding: 0.6rem 0.2rem;
    box-shadow: 0 0 10px rgba(82, 163, 255, 0.4);
    border: 2px solid rgba(75, 153, 255, 0.3);
}

.form input, form select{
    background-color:rgba(27, 27, 27, 0.342);
    border-radius: 8px;
    border: 2px solid rgba(75, 153, 255, 0.3);
    width: 90%;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

form select{
    appearance: none;
    cursor: pointer;
}

form select option{
    background-color: rgba(0, 0, 0, 0.95);
    color: #00aeff;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 153, 255, 0.6), 1px 1px 2px rgba(0,0,0,0.25);
}

.form input:hover, form select:hover {
    border-color: rgba(0, 229, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
    background-color: rgba(27, 27, 27, 0.5);
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.form input:focus, form select:focus {
    border-color: rgba(0, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.5);
    background-color: rgba(27, 27, 27, 0.7);
    outline: none;
    transition: all 0.3s ease;
}

.accept{
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    padding: 0.6rem 0.2rem;
    box-shadow: 0 0 10px rgba(82, 163, 255, 0.4);
    border: 2px solid rgba(75, 153, 255, 0.3);
    width: 60%;
    margin: 0.1rem 0;
    max-width: 200px;
    padding: 1rem 0rem;
    cursor: pointer;

    transition: all 0.5s ease;
}

.accept:hover{
    transform: scale(1.03);
    background: linear-gradient(135deg, rgba(0, 229, 255, 0.2), rgba(0, 153, 255, 0.2));
    box-shadow: 0 0 0.6rem rgba(0,229,255,0.3);
    outline: none;
    border-color: rgba(0,255,255,0.6);
    
}

.form select{
    margin-bottom: 2rem;
}

.form p{
    padding: 0;
    margin-bottom: 5px;
    margin-top: 2rem;
}

.NomeAdmin {
    color: #00aeff;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 153, 255, 0.6), 1px 1px 2px rgba(0,0,0,0.25);
}

.userText{
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 400px;   
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 0.5rem 0rem;
    border: 2px solid rgba(75, 153, 255, 0.3);
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(82, 163, 255, 0.4);
}