body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/aluno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.infoBar{
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.125rem 0.625rem rgba(0,0,0,0.2);
    border-bottom: 0.125rem solid #e3d1ff;
}

body .infoBar h1 {
    margin: 0 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.infoBar h1 a {
    color: #fff;
    text-decoration: none;
    border-bottom: transparent;
    display: inline-block;
    transition: transform 0.3s ease;
    font-weight: bold;
}

.infoBar h1 a:hover {
    color: #ffffff;
    transform: scale(1.05);
}

body .infoBar .links {
    list-style: none;
    margin: 0 0.25rem;
    display: flex;
    gap: 1rem;
}

body .infoBar .links a {
    text-decoration: none;
    display: inline-block;
    color: #f0e6ff;
    font-size: 1.25rem;
    border-bottom: 0.125rem solid transparent;
    transition: color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    font-weight: bold;
}

body .infoBar .links a:hover {
    transform: scale(1.05);
    color: #ffffff;
    border-bottom-color: #fff;
}

.userText{
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 500px;   
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 0.5rem 0rem;
    border: 2px solid rgba(168, 37, 255, 0.3);
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(150, 90, 255, 0.4);
}

.userText{
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 500px;   
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 0.5rem 0rem;
    border: 2px solid rgba(168, 37, 255, 0.3);
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(150, 90, 255, 0.4);
}

.h2Nome{
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    width: 40%;
    max-width: 250px;   
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 0.5rem 0rem;
    margin-top: 6rem;
    border: 2px solid rgba(168, 37, 255, 0.3);
    box-shadow: 0 0 10px rgba(150, 90, 255, 0.4);
}

.NomeAluno {
    color: #d400ff;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(106, 1, 167, 0.6), 1px 1px 2px rgba(0,0,0,0.25);
}

.search{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    width: 40%;
    max-width: 400px;
    padding: 1rem 0;
    border-radius: 8px;
    border: 2px solid rgba(168, 37, 255, 0.3);
    box-shadow: 0 0 10px rgba(150, 90, 255, 0.4);
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.search p{
    margin-bottom: 0.4rem;
}

.search input{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border: 2px solid rgba(168, 37, 255, 0.3);
    padding: 0.65rem 0;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;

    transition: all 0.3s ease;
}

.search input:hover{
    transform: scale(1.03);
    border: 2px solid rgba(219, 37, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.466);
}

.search input:focus{
    outline: none;
    border: 0.125rem solid #c41ba8;
    box-shadow: 0 0 0.5rem rgba(238, 33, 238, 0.5);
}

.accept{
    width: 20%;
    max-width: 150px;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border: 2px solid rgba(168, 37, 255, 0.3);
    box-shadow: 0 0 10px rgba(150, 90, 255, 0.4);
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;
}

.accept:hover{
    transform: scale(1.1);
    background-color: #9900b825;
    box-shadow: 0 0 20px rgba(150, 90, 255, 0.5);
}